body {
    background-color: #555555;
    color: #e6e6e6;
}

div {
    background-color: #555555;
    color: #e6e6e6;
}

button {
    border-color: #939393;
    background-color: #7e7e7e;
    color: #e6e6e6;
}