#container {
    display: grid;
    grid-template-areas: 'canvas sidebar'
                         'properties properties';
}

#canvasParent {
    grid-area: canvas;

    max-height: 679px; /*674 + 5*/

    overflow: auto;
}

#sidebar {
    grid-area: sidebar;
}

div {
    border: 1px solid black;
}

#exportTextOutput {
    width: 500px;
}

img {
    image-rendering: pixelated;
}